@model MovieRental.ViewModels.AllMoviesViewModel
@{
    ViewBag.Title = "AllMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var popularMovie = Model.Customers.Count > 5 ? "popularMovie" : null;
}
<h2 class="@popularMovie">
   @Model.Movie.Name
</h2>

@if (Model.Customers.Count == 0)
{
    <p>No one has rented this movie before.</p>
}
else
{
    <ul>
        @foreach (var cust in Model.Customers)
        {
            <li>@cust.Name</li>
        }
    </ul>
}
